{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html ng-app="sacodeapp">
<head>
  <title>Report of SACODE consumption</title>
  <meta charset="utf-8">
  <script src="{% static "bower/jquery/jquery.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <script src="{% static "bower/angular/angular.js" %}"></script>
  <script src="{% static "js/sacodeapp.js" %}"></script>
  <style>
    body {
      padding-top: 50px;
    }
    .navbar-inverse {
        background-color: #0c6596 !important;
        border-color: #080808;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 80px;
        border: 0px solid pink;
        z-index: 0;
        position: relative;
        height: 80px;
    }

    .navbar-inverse .navbar-nav > li > a {
      color: #fff;
    }
        a.logo {
        margin-left: -45px;
        margin-top: 0px !important;
        font-size: 65px;
    }
  </style>
</head>

<body>

<!-- Menu -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{STATIC_URL}}{{ request.branding.sacode_logo}}" class="img-responsive" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-messages">
          <a href="{% url 'msgs.msg_inbox' %}"><span class="glyphicon glyphicon-envelope"></span> Messages</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'contacts.contact_list' %}"><span class="glyphicon glyphicon-user"></span> Contacts</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'flows.flow_list' %}"><span class="glyphicon glyphicon-indent-right"></span> Flows</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'flows.ruleset_analytics' %}"><span class="glyphicon glyphicon-filter"></span> Analytics</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'campaigns.campaign_list' %}"><span class="glyphicon glyphicon-phone"></span> Campaigns</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'triggers.trigger_list' %}"><span class="glyphicon glyphicon-check"></span> Triggers</a>
        </li>
        <li class="nav-messages">
          <a href="{% url 'projects' %}"><span class="glyphicon glyphicon-list-alt"></span> Projects</a>
        </li>
      </ul>

    </div>
  </div>
</div>

  <div class="container" ng-controller="FilterCtrl">
    <div class="row">
    <div class="col-md-1"></div>
      <div class="header"><h4>SMS cosumption in {% verbatim %}{{month.name}}
        {{year.name}}{% endverbatim %}</h4></div>

      <div class="col-md-1"></div>
      <div class="col-md-10">
        <form action="" class="form-inline" role="form" method="post">{% csrf_token %}
          <fieldset>
              <div class="form-group">
                <label for="year">{% trans "Year" %}:</label>
                <select class="form-control" name="Year" ng-model="year" ng-options="x.name for x in years track by x.id" ng-change="update_year()">
                  <option value="">--select--</option>
                  <option name="optradio" selected="selected">[ {% trans "Select Year" %} ]</option>
                </select>
              </div>
              <div class="form-group">
                <label for="month">{% trans "Month" %}:</label>
                <select class="form-control" name="Month" ng-model="month" ng-options="x.name for x in months track by x.number" ng-change="update_month()">
                  <option value="">--select--</option>
                  <option name="optradio" selected="selected">[ {% trans "Select Month" %} ]</option>
                </select>
              </div>
          </fieldset>
      </form>
      </div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">Report cosumption</div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Month</th>
                  <th>Group</th>
                  <th>Incomming</th>
                  <th>Outgoing</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% verbatim %}
                  <tr ng-repeat="y in reports" ng-if="y.created_on != null">
                      <td >{{ y.year}}</td>
                      <td >{{ y.month}}</td>
                      <td >{{ y.group}}</td>
                      <td >{{ y.incoming}}</td>
                      <td >{{ y.outgoing  }}</td>
                      <td >{{ y.incoming + y.outgoing }}</td>
                  </tr>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script>
    
  </script>
</body>
</html>