@font-face {
  font-family: 'rapidpro';
  src:  url('fonts/rapidpro.eot?u43evx');
  src:  url('fonts/rapidpro.eot?u43evx#iefix') format('embedded-opentype'),
    url('fonts/rapidpro.ttf?u43evx') format('truetype'),
    url('fonts/rapidpro.woff?u43evx') format('woff'),
    url('fonts/rapidpro.svg?u43evx#rapidpro') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rapidpro-"], [class*=" rapidpro-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rapidpro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rapidpro-sacode .path1:before {
  content: "\e900";
  color: rgb(101, 101, 101);
}
.rapidpro-sacode .path2:before {
  content: "\e901";
  margin-left: -90px;
  color: rgb(0, 0, 202);
}
.rapidpro-sacode .path3:before {
  content: "\e902";
  margin-left: -100px;
  color: rgb(205, 10, 10);
}
.rapidpro-logo:before {
  content: "\e600";
}

.icon-logo:before {
  font-family: 'rapidpro';
  content: "\e900\e901\e902";
  margin-left: -1em;
  color: rgb(101, 101, 101);
}