{% extends "frame.html" %}
{% load smartmin compress temba i18n %}
-block page-top

-block extra-less
  -compress css
    {% lessblock %}
      :plain
        #lead-form {
          display: block;
          text-align: center;
          background-color: #0c6596;
          padding-top: 15px;
          input[type=text] {
            margin-bottom: 0;
            height: 27px;
          }
        }

        .text-error {
          text-shadow: 0px 0px 12px #fff;
          letter-spacing:1px;
          color: @flat-red;
          width: 350px;
          padding-left:5px;
          margin-top: -5px;
          font-weight:500;
        }

        #pageBody {
          min-width:1000px;
        }

        #splash {
          h1.description {
            padding-top: 15px;
            position: relative;
          }
        }

    {% endlessblock %}

-block post-header
    .row
      #splash
        %h1.description
          {{ brand.description }}

    -if not thanks
      %br.clearfix{clear:"both"}
